* {
    background-color: #242731;
    height: auto;
    min-height: auto;
    z-index: 999;
}

.navbar__container {
    background-color: #242731;
    height: 10%;
    min-height: 10%;
    position: fixed;
    display: flex;
    align-items: center;
    flex-direction: row;
    top: 0;
}

.navbar__container:hover {
    opacity: 1;
}

.navbar__babliuci_logo {
    width: 20px;
    height: auto;
    min-height: auto;
    min-width: auto;
    margin: auto 0 auto 20px;
}

.navbar__logo {
    width: auto;
    min-width: auto;
    padding: 10px;
}

.navbar__navigation {
    width: 160px;
    min-width: auto;
    height: 100%;
    background-color: #242731;
    border: 1px solid #242731;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pageOn>span {
    border-bottom: 2px solid white;
    padding: 4px;
    width: auto;
    min-width: auto;
}

.navbar__navigation>span {
    padding: 4px;
    width: auto;
    min-width: auto;
}

.navbar__navigation:hover>span {
    border-bottom: 2px solid white;
}