<div class="navbar__container">
    <img class="navbar__babliuci_logo" src="assets/icons/logo.svg" alt="Dabliuci logo">
    <h4 class="navbar__logo" (click)="goToMain()">Dabliuci</h4>
    <div id="main" [ngClass]="{'pageOn': page == 'main'}" (click)="goToMain()" class="navbar__navigation">
        <span>Locais</span>
    </div>
    <div id="dashboard" [ngClass]="{'pageOn': page == 'dashboard'}" (click)="goToDashboard()" class="navbar__navigation">
        <span>Dashboard</span>
    </div>
</div>