<div class="navbar__container">
    <img class="navbar__babliuci_logo" src="assets/icons/logo.svg" alt="Fenpeichi logo">
    <h4 class="navbar__logo" (click)="goToMain()">Fenpeichi</h4>
    <div id="main" [ngClass]="{'pageOn': page == 'main'}" (click)="goToMain()" class="navbar__navigation">
        <span>Locais</span>
    </div>
    <div id="dashboard" [ngClass]="{'pageOn': page == 'dashboard'}" (click)="goToDashboard()" class="navbar__navigation">
        <span>Dashboard</span>
    </div>
    <div id="user" class="navbar__navigation_of">
        <span>Usuários</span>
        <img class="navbar__lock_img" src="assets/icons/lock.svg" alt="locked path">
    </div>
    <div id="extra" class="navbar__navigation_of">
        <span>Expansão</span>
        <img class="navbar__lock_img" src="assets/icons/lock.svg" alt="loked path">
    </div>
    <div class="navbar__user_img_container">
        <img class="navbar__notification_img" src="assets/icons/sino.svg" alt="notification image">
        <img class="navbar__user_img" src="assets/icons/portrait.svg" alt="user image">
    </div>
</div>