<div class="main__container">
    <h2 class="main__logo">Dabliuci</h2>
    <h3 class="main__header">Locais</h3>
    <div class="main__card_container">
        <div class="main__card_body">
            <span>Pronto Socorro</span>
            <div class="main__grafic_container">
                <div class="main__pie" style="background-color: yellow;"></div>
            </div>
        </div>
        <div class="main__card_footer" (click)="goToLocal(1)">
            <span style="font-size: 12px;">saiba mais</span>
            <span>></span>
        </div>
    </div>
    <div class="main__card_container">
        <div class="main__card_body">
            <span>UTI Adulto</span>
            <div class="main__grafic_container">
                <div class="main__pie"></div>
            </div>
        </div>
        <div class="main__card_footer" (click)="goToLocal(2)">
            <span style="font-size: 12px;">saiba mais</span>
            <span>></span>
        </div>
    </div>
    <div class="main__card_container">
        <div class="main__card_body">
            <span>Pediatria</span>
            <div class="main__grafic_container">
                <div class="main__pie" style="background-color: green;"></div>
            </div>
        </div>
        <div class="main__card_footer" (click)="goToLocal(3)">
            <span style="font-size: 12px;">saiba mais</span>
            <span>></span>
        </div>
    </div>
</div>