<div [ngClass]="{'app__navbar': !isWelcomePage, 'app__navbar_none': isWelcomePage}">
    <app-nav [ngClass]="{'app__navbar': !isWelcomePage, 'app__navbar_none': isWelcomePage}"></app-nav>
</div>
<div [ngClass]="{'app__navbar-mobile': !isWelcomePage, 'app__navbar_none': isWelcomePage}">
    <app-nav-mobile [ngClass]="{'app__navbar-mobile': !isWelcomePage, 'app__navbar_none': isWelcomePage}">
    </app-nav-mobile>
</div>
<div class="app__container ">
    <h1 [ngClass]="{'app__title': isWelcomePage, 'app__navbar_none': !isWelcomePage}" (click)="toStartPage()">
        DABLIUCI
    </h1>
    <router-outlet></router-outlet>
</div>