<div class="welcome__container">
  <div class="welcome__login_sign">
    <img (click)="gotoLogin()" src="assets/icons/enter.png" alt="login" class="welcome__login_img" />
    <button class="welcome__button" (click)="gotoLogin()">Login</button>
  </div>
  <div class="welcome__resume_text_container">
    <span class="welcome__resume_text">
      <h3>Olá, seja bem-vindo à Fenpeichi!</h3>

      <br>

      Somos uma startup inovadora especializada no
      <span class="highlight">monitoramento inteligente de fluidos em dispensers</span>, trazendo mais eficiência e
      controle para empresas de diversos setores.

      <br><br>

      <h3>Por que monitorar é tão importante?</h3>

      Já parou para pensar nos desafios causados pela falta de monitoramento?
      Imagine entrar em um banheiro público e perceber que não há sabonete para
      lavar as mãos. Agora, amplie essa situação para um
      <span class="highlight">hospital</span>, onde a falta de insumos
      essenciais, como álcool em gel e sabonete, pode comprometer a segurança de
      pacientes e profissionais de saúde. Alem de que o desperdício e o mau gerenciamento
      desses produtos resultam em <span class="highlight">custos elevados e ineficiência operacional</span>.
      Quanto tempo e dinheiro uma empresa pode perder até identificar e corrigir
      esses problemas?

      <br><br>

      <h3>Nossa Solução:</h3>

      Nós acreditamos que
      <span class="highlight">o que pode ser monitorado, pode ser melhorado.</span>
      A Fenpeichi oferece uma
      <span class="highlight">solução completa de monitoramento de fluidos</span>, utilizando dispositivos IoT
      integrados a um sistema inteligente,
      acessível via web e aplicativo móvel.

      <br><br>

      <h3>Benefícios da nossa solução:</h3>
      <ul>
        <li><strong> &bull; Nível do fluido</strong> em tempo real</li>
        <li><strong> &bull; Histórico de abastecimento</strong> detalhado</li>
        <li><strong> &bull; Prazos de validade</strong> automáticos</li>
        <li><strong> &bull; Frequência de uso</strong> por localização</li>
        <br>
        <li>E muitas outras <span class="highlight">possibilidades de análise</span>!</li>
      </ul>

      <br>

      Estamos aqui para <strong>revolucionar a gestão de recursos</strong>,
      mostrando que até os processos mais simples podem ser aprimorados com
      tecnologia e inovação.

      <br><br>

      <h3>Fenpeichi – Eficiência e inovação na palma da sua mão.</h3>
    </span>
  </div>
  <span class="welcome__sign" (click)="gotoSing()"> Primeiro Acesso</span>
</div>