* {
    min-height: auto;
    min-width: auto;
    width: auto;
    height: auto;
}

.dashboard__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.dashboard__title {
    width: 90%;
    margin: 15px auto;
}

.dashboard__graphs_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
}

.dashboard__graphs {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    margin: 30px auto;
}

.dashboard__first_graphs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 95%;
}

.dashboard__first_graph {
    display: flex;
    flex-direction: column;
    background-color: #2884FF;
    width: 95%;
    margin: 8px;
    padding: 5px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.dashboard__first_graph>span {
    background-color: #2884FF;
    max-width: 99%;
    margin: 5px;
}

.dashboard__pie_container {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #242731;
    border-radius: 15px;
    margin: 10px auto;
}

.dashboard__grafic_container {
    background-color: #242731;
    margin: 10px auto 20px auto;
}

--p {
    syntax: '<number>';
    inherits: true;
    initial-value: 0;
}

.dashboard__pie_chart {
    --p: 20;
    --b: 22px;
    --c: darkred;
    --w: 150px;
    width: var(--w);
    aspect-ratio: 1;
    position: relative;
    display: inline-grid;
    margin: 5px;
    place-content: center;
    font-size: 28px;
    font-weight: bold;
    font-family: sans-serif;
    background-color: #242731;
    z-index: 1;
}

.dashboard__pie_chart:before {
    content: "";
    position: absolute;
    border-radius: 50%;
}

.dashboard__pie_chart:before {
    inset: 0;
    background: radial-gradient(farthest-side, var(--c) 98%, #0000) top/var(--b) var(--b) no-repeat, conic-gradient(var(--c) calc(var(--p)*1%), #0000 0);
    -webkit-mask: radial-gradient(farthest-side, #0000 calc(99% - var(--b)), #000 calc(100% - var(--b)));
    mask: radial-gradient(farthest-side, #0000 calc(99% - var(--b)), #000 calc(100% - var(--b)));
}

.dashboard__pie_chart:after {
    inset: calc(50% - var(--b)/2);
    background: var(--c);
    transform: rotate(calc(var(--p)*3.6deg)) translateY(calc(50% - var(--w)/2));
}

.animate {
    animation: p 1s .5s both;
}

.no-round:before {
    background-size: 0 0, auto;
}

.no-round:after {
    content: none;
}

@keyframes p {
    from {
        --p: 0
    }
}

.dashboard__sidegraph_container {
    background: #242731;
    width: 90%;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}

$color-grph_one: #f22;
$color-grph_two: #56a;
$color-grph_tree: #2a5;
$color-label: #FFF;
$color-background: #242731;
.dashboard__sidegraph_chart {
    position: relative;
    padding: 1em;
    background: $color-background;
    border-radius: 5px;
    font-size: 16px;
    background-color: #242731;
    margin: 0 0 20px 0;
    * {
        box-sizing: border-box;
    }
    // the line
    &:after {
        content: '';
        position: absolute;
        left: 25%;
        top: 7.5%;
        transform: translateX(100%);
        width: 4px;
        background: #FFF;
        height: 86%;
        border-radius: 2px;
        background-color: white;
    }
    .dashboard__sidegraph_part {
        display: flex;
        height: 3em;
        background-color: #242731;
        >.dashboard__sidegraph_label {
            flex: 1;
            flex-basis: 25%;
            text-align: right;
            padding-right: 1em;
            margin: 0.5em 0;
            height: 2em;
            line-height: 2em;
            color: $color-label;
            font-weight: 600;
            background-color: #242731;
        }
        .dashboard__sidegraph_bar {
            flex: 3;
            flex-basis: 75%;
            position: relative;
            margin: 0.5em 0;
            background-color: #242731;
            &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                border-radius: 0 2px 2px 0;
                animation: grow 0.5s;
                background-color: #242731;
            }
            // the colors!
            &.bar_one:after {
                background: $color-grph_one;
            }
            &.bar_two:after {
                background: $color-grph_two;
            }
            &.bar_tree:after {
                background: $color-grph_tree;
            }
            .dashboard__sidegraph_label {
                position: absolute;
                top: 50%;
                left: 0.5em;
                transform: translateX(0%) translateY(-50%);
                z-index: 1;
                color: #FFF;
                font-weight: 600;
                background-color: transparent;
            }
        }
        @for $i from 1 through 100 {
            &.percent-#{$i} .dashboard__sidegraph_bar:after {
                width: $i * 1%;
            }
        }
    }
}

@keyframes grow {
    from {
        width: 0;
    }
}

.titular {
    display: block;
    line-height: 60px;
    margin: 0;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.dashboard__frame_bar_container {
    width: 90%;
    margin: 10px auto;
    background: #242731;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,500);
//User Defined
$dataNum:12;
$name:"Jan""Fev""Mar""Abr""Maio""Jun""Jul""Ago""Set""Out""Nov""Dez";
$data:50% 40% 70% 22% 35% 40% 85% 36% 88% 62% 13% 98%;
$usado: 96 12 13 54 654 123 5432 1234 43 1234 32 43;
//General Settings
$width:100%;
$height: 200px;
$color:#D11717 #e23030 #e28484 #f58888 #f0b0b0 #520505 #7c2a2a #963c3c #8f6161 #dab9b9 #fdc5c5 #530b53;
.dashboard__frame_bar {
    width: $width;
    height: $height;
    position: relative;
    background: #242731;
    margin: 0 auto 40px auto;
}

.dashboard__frame_bar:before {
    content: "";
    width: 100%;
    height: 1px;
    background: #fff;
    position: absolute;
    top: 50%;
}

.dashboard__frame_bar:after {
    content: "";
    width: 100%;
    height: 50%;
    background: transparent;
    position: absolute;
    top: 25%;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.dashboard__bar_data {
    width: 20px;
    position: absolute;
    bottom: 1px;
    margin: 0px 0px 0px 0px;
    z-index: 9;
    float: left;
}

@for $i from 1 through $dataNum {
    .dashboard__bar_data#{$i} {
        background: nth($color, $i);
        height: 0px;
        left: $width/($dataNum + 1) * $i - 3;
        -webkit-animation: showBar#{$i} 1.2s $i*.1s forwards;
        -moz-animation: showBar#{$i} 1.2s $i*.1s forwards;
        animation: showBar#{$i} 1.2s $i*.1s forwards;
    }
}

.dashboard__bar_data:before {
    position: absolute;
    top: -16px;
    font-size: 12px;
    color: white;
    font-family: "roboto";
    font-weight: 300;
}

@for $i from 1 through $dataNum {
    .dashboard__bar_data#{$i}:before {
        content: nth($usado, $i)+"";
    }
}

.dashboard__bar_data:after {
    position: absolute;
    bottom: -27px;
    transform: rotate(30deg);
    color: white;
    font-size: 14px;
    text-align: left;
    font-family: "roboto";
    font-weight: 300;
    width: auto;
}

@for $i from 1 through $dataNum {
    .dashboard__bar_data#{$i}:after {
        content: nth($name, $i)+"";
    }
}

@for $i from 1 through $dataNum {
    @-webkit-keyframes showBar#{$i} {
        0% {
            height: 0px;
        }
        100% {
            height: nth($data, $i);
        }
    }
}

@for $i from 1 through $dataNum {
    @-moz-keyframes showBar#{$i} {
        0% {
            height: 0px;
        }
        100% {
            height: nth($data, $i);
        }
    }
}

@for $i from 1 through $dataNum {
    @keyframes showBar#{$i} {
        0% {
            height: 0px;
        }
        100% {
            height: nth($data, $i);
        }
    }
}

@media screen and (min-width: 820px) {
    .dashboard__first_graph {
        width: 22%;
        height: 100%;
        min-height: 100%;
    }
    .dashboard__first_graphs {
        width: 95%;
        height: 100px;
        min-height: 15%;
    }
    .dashboard__first_graph>span {
        max-width: 100%;
        margin: 3px;
    }
}

@media screen and (min-width: 912px) {
    .dashboard__graphs {
        width: 90%;
    }
    .dashboard__pie_container {
        width: 23%;
    }
    .dashboard__sidegraph_container {
        width: 48%;
    }
    .dashboard__frame_bar_container {
        width: 48%;
    }
}