<div class="dashboard__container">
    <div class="dashboard__title">
        <h2>Dashboard</h2>
        <div (click)="openFilter()" style="width: auto; height: auto; position: relative;">
            <img class="dashboard__filter_img" src="assets/icons/filter.png" alt="locked path">
            <div class="dashboard__filter_menu" [ngClass]="{'dashboard__filter_menu__off': !filter}">
                <label for="dispenser">Escolha um setor: </label>
                <select name="dispenser" id="dispenser">
          <option disabled selected value> -selecione uma opção- </option>
        </select>
                <label for="data">Escolha a data:</label>
                <select name="data" id="data">
          <option disabled selected value> -selecione uma opção- </option>
        </select>
            </div>
        </div>
    </div>
    <div class="dashboard__graphs_container">
        <div class="dashboard__first_graphs">
            <div class="dashboard__first_graph green_color">
                <span style="font-size: 14px; font-weight: 900;">Dispensers totais</span>
                <span>13</span>
            </div>
            <div class="dashboard__first_graph yellow_color">
                <span style="font-size: 14px; font-weight: 900;">Uso total dos dispensers</span>
                <span>513</span>
            </div>
            <div class="dashboard__first_graph">
                <span style="font-size: 14px; font-weight: 900;">Numero total de reabastecimentos</span>
                <span>32</span>
            </div>
            <div class="dashboard__first_graph red_color">
                <span style="font-size: 14px; font-weight: 1000;">Dispensers com nivel de fluido crítico</span>
                <span>2</span>
            </div>
        </div>
        <div class="dashboard__graphs">
            <div class="dashboard__second_graphs">
                <div class="dashboard__pie_container">
                    <h3>Media de uso por setor</h3>
                    <div class="dashboard__grafic_container">
                        <div class="dashboard__pie_chart" [style.--p]="'52'" [style.--c]="'#a1a111'" style="--b:15px">
                            42x
                        </div>
                    </div>
                </div>
                <div class="dashboard__pie_container">
                    <h3>Risco de infecção</h3>
                    <div class="dashboard__grafic_container">
                        <div class="dashboard__pie_chart" [style.--p]="'5'" [style.--c]="'darkgreen'" style="--b:15px">
                            5%
                        </div>
                    </div>
                </div>
                <div class="dashboard__pie_container">
                    <h3>Fluidos proximos ao vencimento</h3>
                    <div class="dashboard__grafic_container">
                        <div class="dashboard__pie_chart" [style.--p]="'13'" [style.--c]="'darkgreen'" style="--b:15px">
                            2
                        </div>
                    </div>
                </div>
                <div class="dashboard__pie_container">
                    <h3>Litros de alcool em gel usado</h3>
                    <div class="dashboard__grafic_container">
                        <div class="dashboard__pie_chart" [style.--p]="'100'" [style.--c]="'#2884FF'" style="--b:2px">
                            31
                        </div>
                    </div>
                </div>
            </div>
            <div class="dashboard__third_graphs">
                <div class="dashboard__sidegraph_container">
                    <h3 style="color: white; background: #242731; margin: 20px auto; ">Porcentagem de uso por setor</h3>
                    <div class="dashboard__sidegraph_chart">
                        <div class="dashboard__sidegraph_part percent-{{ percent_one }}">
                            <div class="dashboard__sidegraph_label">Pronto socorro</div>
                            <div class="dashboard__sidegraph_bar bar_one">
                                <div class="dashboard__sidegraph_label">53%</div>
                            </div>
                        </div>
                        <div class="dashboard__sidegraph_part percent-{{ percent_two }}">
                            <div class="dashboard__sidegraph_label">UTI Adulto</div>
                            <div class="dashboard__sidegraph_bar bar_two">
                                <div class="dashboard__sidegraph_label">30%</div>
                            </div>
                        </div>
                        <div class="dashboard__sidegraph_part percent-{{ percent_tree }}">
                            <div class="dashboard__sidegraph_label">Pediatria</div>
                            <div class="dashboard__sidegraph_bar bar_tree">
                                <div class="dashboard__sidegraph_label">17%</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="dashboard__frame_bar_container">
                    <h3 style="color: white; background: #242731; margin: 20px auto;">Uso dos dispensers ao decorrer dos meses
                    </h3>
                    <div class="dashboard__frame_bar">
                        <div class="dashboard__bar_data dashboard__bar_data1"></div>
                        <div class="dashboard__bar_data dashboard__bar_data2"></div>
                        <div class="dashboard__bar_data dashboard__bar_data3"></div>
                        <div class="dashboard__bar_data dashboard__bar_data4"></div>
                        <div class="dashboard__bar_data dashboard__bar_data5"></div>
                        <div class="dashboard__bar_data dashboard__bar_data6"></div>
                        <div class="dashboard__bar_data dashboard__bar_data7"></div>
                        <div class="dashboard__bar_data dashboard__bar_data8"></div>
                        <div class="dashboard__bar_data dashboard__bar_data9"></div>
                        <div class="dashboard__bar_data dashboard__bar_data10"></div>
                        <div class="dashboard__bar_data dashboard__bar_data11"></div>
                        <div class="dashboard__bar_data dashboard__bar_data12"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>