<div class="dashboard__container">
    <div class="dashboard__title">
        <h2>Dashboard</h2>
        <div (click)="openFilter()" style="width: auto; height: auto; position: relative;">
            <img class="dashboard__filter_img" src="assets/icons/filter.png" alt="locked path">
            <div class="dashboard__filter_menu" [ngClass]="{'dashboard__filter_menu__off': !filter}">
                <label for="dispenser">Escolha um setor: </label>
                <select name="dispenser" id="dispenser">
          <option disabled selected value> -selecione uma opção- </option>
        </select>
                <label for="data">Escolha a data:</label>
                <select name="data" id="data">
          <option disabled selected value> -selecione uma opção- </option>
        </select>
            </div>
        </div>
    </div>
    <div class="dashboard__graphs_container">
        <div class="dashboard__first_graphs">
            <div class="dashboard__first_graph green_color">
                <span style="font-size: 14px; font-weight: 900;">Dispensers totais</span>
                <span>{{ dispensers.length }}</span>
            </div>
            <div class="dashboard__first_graph yellow_color">
                <span style="font-size: 14px; font-weight: 900;">Uso total dos dispensers / mês</span>
                <span>{{ usedTotal }}</span>
            </div>
            <div class="dashboard__first_graph">
                <span style="font-size: 14px; font-weight: 900;">Numero total de reabastecimentos / mês</span>
                <span>{{ dispensers.length + 8 }}</span>
            </div>
            <div class="dashboard__first_graph red_color">
                <span style="font-size: 14px; font-weight: 1000; margin: auto;">Dispensers com nivel de fluido crítico</span>
                <span>{{ lowDispensers }}</span>
            </div>
        </div>
        <div class="dashboard__graphs">
            <div class="dashboard__second_graphs">
                <div class="dashboard__pie_container">
                    <h3>Media de uso por setor</h3>
                    <div class="dashboard__grafic_container">
                        <div class="dashboard__pie_chart" [style.--p]="mediaSetor" [style.--c]="mediaColor" style="--b:15px">
                            {{ mediaSetor }}x
                        </div>
                    </div>
                </div>
                <div class="dashboard__pie_container">
                    <h3>Risco de infecção</h3>
                    <div class="dashboard__grafic_container">
                        <div class="dashboard__pie_chart" [style.--p]="'5'" [style.--c]="'darkgreen'" style="--b:15px">
                            5%
                        </div>
                    </div>
                </div>
                <div class="dashboard__pie_container">
                    <h3>Fluidos proximos ao vencimento</h3>
                    <div class="dashboard__grafic_container">
                        <div class="dashboard__pie_chart" [style.--p]="'0'" [style.--c]="'darkgreen'" style="--b:15px">
                            0
                        </div>
                    </div>
                </div>
                <div class="dashboard__pie_container">
                    <h3>Álcool em gel usado (mL)</h3>
                    <div class="dashboard__grafic_container">
                        <div class="dashboard__pie_chart" [style.--p]="'100'" [style.--c]="'#2884FF'" style="--b:2px">
                            {{ gramasAlcool }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="dashboard__third_graphs">
                <div class="dashboard__sidegraph_container">
                    <h3 style="color: white; background: #242731; margin: 20px auto; ">Quantidade de uso por setor</h3>
                    <div class="dashboard__sidegraph_chart">
                        <div *ngFor="let local of locaisObj; let i = index" [attr.data-index]="i" class="dashboard__sidegraph_part percent-{{ local.percent }}">
                            <div class="dashboard__sidegraph_label">{{ local.local }}</div>
                            <div class="dashboard__sidegraph_bar bar_two">
                                <div class="dashboard__sidegraph_label">{{ local.totalUsed }}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="dashboard__frame_bar_container">
                    <h3 style="color: white; background: #242731; margin: 20px 4%;">Uso dos dispensers ao decorrer dos meses
                    </h3>
                    <div class="dashboard__frame_bar">
                        <div class="dashboard__bar_data dashboard__bar_data1" [attr.jan_value]="jan_value"></div>
                        <div class="dashboard__bar_data dashboard__bar_data2" [attr.feb_value]="feb_value"></div>
                        <div class="dashboard__bar_data dashboard__bar_data3" [attr.mar_value]="mar_value"></div>
                        <div class="dashboard__bar_data dashboard__bar_data4" [attr.abr_value]="abr_value"></div>
                        <div class="dashboard__bar_data dashboard__bar_data5" [attr.may_value]="may_value"></div>
                        <div class="dashboard__bar_data dashboard__bar_data6" [attr.jun_value]="jun_value"></div>
                        <div class="dashboard__bar_data dashboard__bar_data7" [attr.jul_value]="jul_value"></div>
                        <div class="dashboard__bar_data dashboard__bar_data8" [attr.ago_value]="ago_value"></div>
                        <div class="dashboard__bar_data dashboard__bar_data9" [attr.sep_value]="sep_value"></div>
                        <div class="dashboard__bar_data dashboard__bar_data10" [attr.oct_value]="oct_value"></div>
                        <div class="dashboard__bar_data dashboard__bar_data11" [attr.nov_value]="nov_value"></div>
                        <div class="dashboard__bar_data dashboard__bar_data12" [attr.dec_value]="dec_value"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>